argh==0.26.2
distro==1.5.0
numpy==1.18.2
pandas==1.0.3
pathtools==0.1.2
Pillow==8.1.1
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.1.2
reportlab==3.5.42
six==1.14.0
tabula-py==2.1.0
watchdog==0.9.0
